


/* Landing page */


.landinggrid {
  height: 100vh;
  align-items: center;
  text-align: center;
  justify-content: center;
  display: flex;
}

.landinggrid > .tagline {
  margin-bottom: 40px;
}
.landinggrid > .tagline h1 {
  font-size: clamp(1rem, 4vw + 0.5rem, 4rem);
  font-weight: 700;
}

.landinggrid > .tagline > h1 span {
  color: rgb(248, 88, 88);
}


/* @media (max-height:500px){
  .landing{
    padding: 0px 15vw;
  }

} */